*{
    margin: 0 0;
    padding: 0 0;
    font-family:"roboto";
}
.header-top{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    list-style-type: none;
    gap: 15px;
    font-size: 18px;
    color: #e5e7eb;
    align-items: center;
    
}
.header{
    background-color: #1f2937;
    margin:10px;
    padding: 100px;
}
.header-logo{
    font-size: 24px;
    color: #f9faf8;
}
a{
    text-decoration: none;
    font-size: 18px;
    color:#e5e7eb;
    font-family: 600;
}
.header-body{
    display:flex;
    justify-content: space-between;
    margin: 120px 0 0 0 ;
}
.hb-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 50px;
}
.hb-right{
    display: flex;
    justify-content: center;
    margin-right: -75px;
}
.title{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
p{
    font-size: 18px;
    color:#e5e7eb;
    margin: 24px 0 0 5px;
}
button{
    background-color: #3882f6;
    width: 30%;
    padding: 5px;
    color: #e5e7eb;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    margin: 24px 0 0 5px;
    border-style: hidden;
}
/* Section two */
.section-two{
    text-align: center;
    margin: 10px;
}
.images{
    display: flex;
    justify-content: space-evenly;
    gap: 52px;
    flex-wrap: wrap;
}
.content{
    max-width: 200px;
    /*border: solid red 3px;*/
}
.text{
    padding: 5px
}
.section-two img{
    border: #3882f6 solid 6px;
    border-radius: 25px;
}
.section-two .title{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 24px;
}

/* Section-Three */
.section-three{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    max-width: 100%;
    margin: 75px;
    background-color: #e5e7eb;
}
.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: 50px 50px 25px 50px;
    padding: 100px;
}
.quote{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 300;
}
.reference{
    align-self: flex-end;
    margin: -75px 150px 150px 50px;
    font-size: 24px;
    font-weight: 700;
    color: #1f2937;

}



/*
.header-body{
    display: flex;
}
.hb-left{
    display: flex;
}
.hb-right{
    display: flex;
}







/* 
-----INITIAL ATTEMPT -----
body{
    text-align: center;
}
img{
    height: 100%;
    width: 100%;
}
.container{
    display: flex;
    background-color: #1f2937;
    flex-flow: row nowrap;
    border: 3px solid red;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    -------might need to add id's to html and create id css arguments for background --------

}
li{
    list-style-type: none;
    margin: 10px;
    font-size: 18px;
    color:#e5e7eb
---------- removes bullet points from list items ---------
}
.list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 3px solid red;
    padding: 10px;
}
h1{
    font-size: 24px;
    color: #F9FAF8;
}
h2{
    font-size: 48px;
    font-weight: 900px;
    color:#F9FAF8;
    width: 50%;
}
#header-content{
    background-color: #1f2937;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    
}
p{
  font-size: 18px;
  color: #e5e7eb;
}
