*{
    margin: 0 0;
    padding: 0 0;
    font-family:"roboto";
}
.header-top{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    list-style-type: none;
    gap: 15px;
    font-size: 18px;
    color: #e5e7eb;
    align-items: center;
    
}
.header{
    background-color: #1f2937;
    margin:0 10px 10px 10px;
    padding: 15px 100px 100px 100px;
}
.header-logo{
    font-size: 24px;
    color: #f9faf8;
}
a{
    text-decoration: none;
    font-size: 18px;
    color:#e5e7eb;
    font-family: 600;
}
.header-body{
    display:flex;
    justify-content: space-between;
    margin: 120px 0 0 0 ;
}
.hb-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 50px;
}
.hb-right{
    display: flex;
    justify-content: center;
    margin-right: -75px;
}
.title{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
p{
    font-size: 18px;
    color:#e5e7eb;
    margin: 24px 0 0 5px;
}
button{
    background-color: #3882f6;
    width: 30%;
    padding: 5px;
    color: #e5e7eb;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    margin: 24px 0 0 5px;
    border-style: hidden;
}
/* Section two */
.section-two{
    text-align: center;
    margin: 10px;
}
.images{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 10px 50px 10px;
    flex-wrap: wrap;
}
.content{
    max-width: 200px;
    /*border: solid red 3px;*/
}
.text{
    padding: 5px
}
.section-two img{
    border: #3882f6 solid 6px;
    border-radius: 25px;
}
.section-two .title{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 24px;
}

/* Section-Three */
.section-three{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 10px;
    background-color: #e5e7eb;
}
.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: 50px 50px 25px 50px;
    padding: 100px;
}
.quote{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 300;
}
.reference{
    align-self: flex-end;
    margin: -75px 150px 150px 50px;
    font-size: 24px;
    font-weight: 700;
    color: #1f2937;

}
/* Section-Four */
.section-four{
    display: flex;
    flex-flow: row wrap;
    width: 75%;
    border: red solid 5px;
    background-color: #3882f6;
    margin: 150px 150px 100px 150px;
    border-radius: 10px 10px 10px 10px;
    justify-content: space-around;
    color: #e5e7eb;
    padding: 50px 50px 50px 50px;
}
.sf-left{
    display: flex;
    border: solid rgb(68, 202, 20) 5px;
}
.sf-right{
    display: flex;
    background-color: #3882f6;
    border: black solid 5px;
}
.section-four button{
    border-radius: 10px 10px 10px 10px;
    border-style: #e5e7eb solid 3px;
}












